In [2]:
a= [1,3,5,6,7]
b= [9,8]
a.append(b)
a

[1, 3, 5, 6, 7, [9, 8]]

In [4]:
a.extend(b)
a

[1, 3, 5, 6, 7, [9, 8], 9, 8, 9, 8]

In [6]:
import numpy as np
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
np.array[(1,0,0), (0,1,0),(0,0,1)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [11]:
import pandas as pd
fuel= pd.read_csv('fuel_ferc1.csv')
fuel

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [18]:
fuel1=fuel[['fuel_type_code_pudl','fuel_qty_burned']]
fuel1

      fuel_type_code_pudl  fuel_qty_burned
0                    coal        5377489.0
1                    coal       10486945.0
2                    coal        2978683.0
3                    coal        3739484.0
4                     gas          40533.0
...                   ...              ...
29518                 gas          18799.0
29519                 gas         806730.0
29520                 gas         104554.0
29521                coal         315945.0
29522                 gas          17853.0

[29523 rows x 2 columns]

In [20]:
fuel1['fuel_type_code_pudl'].min()

'coal'

In [22]:
fuel1=fuel[['fuel_type_code_pudl','fuel_mmbtu_per_unit']]
fuel1

      fuel_type_code_pudl  fuel_mmbtu_per_unit
0                    coal               16.590
1                    coal               16.592
2                    coal               24.130
3                    coal               23.950
4                     gas                1.000
...                   ...                  ...
29518                 gas                1.059
29519                 gas                1.050
29520                 gas                1.060
29521                coal               16.108
29522                 gas                1.059

[29523 rows x 2 columns]

In [29]:
from scipy.stats import skew
skew(fuel['fuel_qty_burned'].dropna())
#fuel1['fuel_qty_burned'].skew()

15.850690077422112

In [31]:
from scipy.stats import kurtosis
kurtosis(fuel['fuel_qty_burned'].dropna())

651.2589365474387

In [34]:
fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [35]:
fuel.shape

(29523, 11)

In [36]:
180/29523

0.00609694136774718

In [37]:
fuel.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [41]:
fuel2=fuel[['report_year','fuel_cost_per_unit_delivered']]
fuel2

       report_year  fuel_cost_per_unit_delivered
0             1994                         18.53
1             1994                         18.53
2             1994                         38.12
3             1994                         45.99
4             1994                          2.77
...            ...                           ...
29518         2018                          4.78
29519         2018                          3.65
29520         2018                          4.77
29521         2018                         14.76
29522         2018                          0.00

[29523 rows x 2 columns]

In [44]:
fuel2['report_year'].max()

2018